<app-calendar
  [videoData]="data.videos"
  (updateData)="updateData()"
></app-calendar>

<app-thumbnail-displayer
  [thumbnails]="data.thumbnails"
></app-thumbnail-displayer>

<div class="flex-container">
  <app-make-single-video
    class="container"
    [newVideoTitle]="'Make Video'"
    (makeVideo)="makeSingleVideo($event)"
  ></app-make-single-video>
  <app-make-single-video
    class="container"
    [newVideoTitle]="'Make Thumbnails'"
    [type]="'thumbnail'"
    (makeThumbnail)="makeThumbnails($event)"
  ></app-make-single-video>
</div>
